In [48]:
from sklearn.model_selection import train_test_split 
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [18]:
df = pd.read_csv("monthly-data-labelled.csv")

In [19]:
df.head()

,city,year,tmax-01,tmax-02,tmax-03,tmax-04,tmax-05,tmax-06,tmax-07,tmax-08,...,snwd-03,snwd-04,snwd-05,snwd-06,snwd-07,snwd-08,snwd-09,snwd-10,snwd-11,snwd-12
0,Anchorage,1960,-46.516129,-9.482759,-9.677419,52.400000,140.967742,173.166667,180.225806,168.064516,...,290.903226,44.066667,0.0,0.0,0.0,0.0,0.0,0.000000,29.433333,77.612903
1,Anchorage,1961,-26.096774,-44.571429,-35.064516,58.200000,140.193548,169.633333,178.645161,161.806452,...,113.096774,8.433333,0.0,0.0,0.0,0.0,0.0,45.032258,98.366667,147.258065
2,Anchorage,1962,-59.225806,-31.750000,-18.903226,69.366667,111.419355,159.633333,187.451613,176.483871,...,128.645161,5.866667,0.0,0.0,0.0,0.0,0.0,0.000000,10.000000,46.548387
3,Anchorage,1963,-39.290323,-11.357143,-1.451613,41.700000,134.258065,146.200000,185.612903,182.129032,...,60.645161,78.766667,0.0,0.0,0.0,0.0,0.0,8.161290,34.466667,18.032258
4,Anchorage,1964,-59.129032,-24.655172,-35.096774,45.866667,99.903226,173.566667,182.516129,163.483871,...,114.793103,53.266667,0.0,0.0,0.0,0.0,0.0,15.516129,148.133333,345.870968

In [21]:
y = df["city"].values

In [22]:
#determine the y value which is the city from the question
y

array(['Anchorage', 'Anchorage', 'Anchorage', ..., 'Winnipeg', 'Winnipeg',
       'Winnipeg'], dtype=object)

In [24]:
subset = df.iloc[:,2:]

In [25]:
subset

,tmax-01,tmax-02,tmax-03,tmax-04,tmax-05,tmax-06,tmax-07,tmax-08,tmax-09,tmax-10,...,snwd-03,snwd-04,snwd-05,snwd-06,snwd-07,snwd-08,snwd-09,snwd-10,snwd-11,snwd-12
0,-46.516129,-9.482759,-9.677419,52.400000,140.967742,173.166667,180.225806,168.064516,114.200000,58.612903,...,290.903226,44.066667,0.000000,0.0,0.0,0.0,0.0,0.000000,29.433333,77.612903
1,-26.096774,-44.571429,-35.064516,58.200000,140.193548,169.633333,178.645161,161.806452,127.633333,19.225806,...,113.096774,8.433333,0.000000,0.0,0.0,0.0,0.0,45.032258,98.366667,147.258065
2,-59.225806,-31.750000,-18.903226,69.366667,111.419355,159.633333,187.451613,176.483871,117.000000,66.645161,...,128.645161,5.866667,0.000000,0.0,0.0,0.0,0.0,0.000000,10.000000,46.548387
3,-39.290323,-11.357143,-1.451613,41.700000,134.258065,146.200000,185.612903,182.129032,153.233333,60.870968,...,60.645161,78.766667,0.000000,0.0,0.0,0.0,0.0,8.161290,34.466667,18.032258
4,-59.129032,-24.655172,-35.096774,45.866667,99.903226,173.566667,182.516129,163.483871,138.200000,58.322581,...,114.793103,53.266667,0.000000,0.0,0.0,0.0,0.0,15.516129,148.133333,345.870968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154,-108.709677,-15.892857,-12.548387,155.833333,198.677419,205.000000,259.774194,279.806452,212.966667,117.870968,...,60.645161,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,8.333333,66.774194
1155,-131.838710,-34.892857,27.193548,132.366667,177.870968,222.233333,254.741935,248.096774,172.233333,103.322581,...,40.645161,22.666667,0.000000,0.0,0.0,0.0,0.0,0.000000,4.333333,33.548387
1156,-114.774194,-36.344828,60.161290,118.300000,186.903226,200.400000,257.451613,256.451613,181.766667,129.967742,...,1.290323,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,37.000000,208.064516
1157,-72.387097,-131.607143,-10.548387,109.600000,189.612903,223.266667,263.516129,259.580645,204.600000,101.000000,...,157.096774,6.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.666667,123.870968
1158,-97.741935,-41.714286,-60.806452,81.833333,155.645161,243.166667,274.741935,246.161290,198.866667,48.870968,...,104.838710,0.333333,2.580645,0.0,0.0,0.0,0.0,1.290323,9.000000,45.483871

In [44]:
# X = the subset values above
X = subset.values

(1159, 60)

In [46]:
#there appears to be a difference between the two values
print(X.shape)
print(X_train.shape)

(1159, 60)
(869, 60)

In [59]:
from sklearn.pipeline import make_pipeline
from sklearn.neighbors import KNeighborsClassifier

In [61]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
model = make_pipeline(
StandardScaler(), KNeighborsClassifier(n_neighbors = 5))

In [62]:
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.6206896551724138

In [27]:
X_train, X_test, y_train, y_test = train_test_split (X,y)

In [50]:
# Use Kfold/Cross Validation to decide our K value
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [52]:
#print(X_train,y_train)